extends includes/layout.pug

block content
  article#post
    h1.page-title= page.title
    .post-meta-info
      if page.date
        time(datetime=page.date.toJSON())= date(page.date, date_format)
      span!=' | '
      if page.tags
        each item in page.tags.data
          span.post-tag!=item.name
        else
          span.post-tag!="无"
    .post-content!= page.content
  div!= paginator()
