
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle? pageTitle = pageTitle + ' - ' + config.title :  pageTitle = config.title

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    title= pageTitle
    link(rel="stylesheet", href= theme.highlight_theme ?'//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/'+ theme.highlight_theme + '.min.css':'//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css' )
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    link(rel="icon", href=theme.favicon)
  body
    #menu-btn
      span.menu-line
      span.menu-line
      span.menu-line
    header#menu-outer
      nav#menu-inner
        each url, label in theme.menu
          a(href=url)= label
    #content-outer
      #content-inner
        if body
          div!= body
        else
          block content
    footer#bottom-outer
      #bottom-inner
        span 由
        a(href='http://hexo.io')
          span  Hexo 
        span 强力驱动
        br
        p#copyright Copyright © 2018 www.lglzy.com All Rights Reserved
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
